<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
</head>
<body>
    <div class="container">
        <h1>Password Recovery</h1>
        <p>Please enter your email address to receive a password reset link.</p>
        <form method="POST" action="{{ url_for('recover_password') }}">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>

        <form method="POST" action="{{ url_for('recover_password') }}">
            <!-- Diğer form alanları -->

            <div class="g-recaptcha" data-sitekey="6LdjJEEpAAAAAD5z67pKXk5d-8lhMGoVgT4NLo3_"></div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>

    </div>

    <div>
        <a href="{{ url_for('show_login') }}">Go back to the Login Page</a>
    </div>
    

</body>
</html>
